<html>
	<body>
		<h3>Hi Adrian, you have a new suggested podcast!</h3>
		<p>
			From - ${firstName} / ${lastName} 
		</p>
		<h3>
			Podcast metadataline 
		</h3>
		<p>
			${location}
		</p>
		<h3>
			With the message
		</h3>
		<p>
			${message}
		</p>
	</body>
 
</html>